<h1>The week commencing <%= thisMonday %></h1>
<hr />
<div id="week_container">
  <div id="weekday_0"><h2>Monday</h2></div><hr />
  <div id="weekday_1"><h2>Tuesday</h2></div><hr />
  <div id="weekday_2"><h2>Wednesday</h2></div><hr />
  <div id="weekday_3"><h2>Thursday</h2></div><hr />
  <div id="weekday_4"><h2>Friday</h2></div><hr />
</div>

<div style="display:hidden;" id="token" data-token="<%= token %>"></div>

<script src="js/main.js" type="text/javascript" charset="utf-8"></script>