<!DOCTYPE html>
<html>
<head>
  <title>Are You In Tomorrow?</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

  <%- body %>

</body>
</html>
